@{
    ViewData["Title"] = "Welcome , order your food with us!!!";

}
<div class="entete1">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg; border-bottom box-shadow mb-3">
            <div class="container-fluid">
               <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FFDelice</a>
                <div class="entete2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a href="/about" class="nav-link text-dark">About</a>
                            <a href="/food/menu"class="nav-link text-dark" >Menu</a>
                            <a href="/contactus"class="nav-link text-dark" >Contact Us</a>
                            <a href="/logout"class="nav-link text-dark" >Logout</a>
                            <a href="/userprofile/adduserprofile" class="nav-link text-dark" ><img class="img1" src="/Image/profile.jfif" alt="Profile"width="40" height="40">Profile  </a>
                </div>
            </div>
        </nav>
</div>

<h2 class="center"> Our Menu!!! &nbsp;&nbsp;<img class="img1" src="/Image/menu icon.jfif" alt="Profile"width="110" height="100"></h2>

<div class="bar"></div><br>

<nav class="center">
   <h4> <a href="/food/menu">Urban Menu & Cameroonian Specialities</a></h4>
</nav>

@model ShoppingCart


<h4>Check Your Shopping Cart Here!!!!</h4><br><br>


<div>
<img src="@Model.Food.FoodImg" alt=""  width="250" height="200">
<div class="color">
    <h4>@Model.Food.FoodName</h4>
<h4> Quantity:@Model.Quantity</h4>
<h4>Food Price: @Model.Food.FoodPrice</h4>
@{   
    float totalPrice= @Model.Quantity * @Model.Food.FoodPrice;
    <h4>Total Price: @totalPrice</h4>
  

}
</div>

</div>




