

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">

                 <a href="/post/addpost" >Add a Post</a>
                 <button style="bacground-color:red"><a href="/logout">Logout</a></button>

                    
                
            </div>
        </nav>
   
@model List<Post>



@foreach(Post p in Model) {
<diV class="postinfos">
        <img src="@p.Img" alt="image" width="150" height="150"><br>
        <h4><a href="/post/@p.PostId/postinfos">@p.Title</a></h4>
        <p>@p.Medium</p>
        <p>@p.ForSale</p>
        <p>@p.LikeCount like(s) <span><a href="/like/{postId}/createLike">Like</a></span></p> 
        <a href="/Post/@p.PostId/edit">edit</a>
        <a href="/post/@p.PostId/delete">delete</a><br><br>
</diV>
       

    
}


    

